.avatar {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.avatar img {
  min-width: 100%;
  min-height: 100%;
}
.avatar.has-border {
  border: 0.25rem solid var(--text-color);
}
.avatar.is-large {
  width: 7rem;
  height: 7rem;
}
.avatar.is-small {
  width: 3rem;
  height: 3rem;
}
.avatar.is-circle {
  border-radius: 100%;
}
.avatar.is-rounded {
  border-radius: 0.5rem;
}

.banner {
  padding: 0.5rem 0.25rem;
  background-color: var(--neutral-extreme-deemphasized);
  border: 1px solid var(--neutral-deemphasized);
  border-radius: 0.25rem;
}
.banner strong, .banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6, .banner p, .banner em {
  color: var(--neutral-strong-emphasized);
}
.banner:not(:last-child) {
  margin-bottom: 0.5rem;
}
.banner > *:last-child {
  margin-bottom: 0;
}
.banner button, .banner .btn {
  padding: 1px 0.25rem;
  color: var(--neutral-strong-emphasized);
  background-color: var(--neutral-strong-deemphasized);
}
.banner.is-primary {
  background-color: var(--brand-primary-deemphasized);
  border-color: var(--brand-primary-emphasized);
}
.banner.is-primary h1, .banner.is-primary h2, .banner.is-primary h3, .banner.is-primary h4, .banner.is-primary h5, .banner.is-primary h6, .banner.is-primary p {
  color: var(--brand-primary-emphasized);
}
.banner.is-secondary {
  background-color: var(--brand-secondary-deemphasized);
  border-color: var(--brand-secondary-emphasized);
}
.banner.is-secondary h1, .banner.is-secondary h2, .banner.is-secondary h3, .banner.is-secondary h4, .banner.is-secondary h5, .banner.is-secondary h6, .banner.is-secondary p {
  color: var(--brand-secondary-emphasized);
}
.banner.is-success {
  background-color: var(--highlight-success-deemphasized);
  border-color: var(--highlight-success-emphasized);
}
.banner.is-success h1, .banner.is-success h2, .banner.is-success h3, .banner.is-success h4, .banner.is-success h5, .banner.is-success h6, .banner.is-success p {
  color: var(--highlight-success-emphasized);
}
.banner.is-error {
  background-color: var(--highlight-error-deemphasized);
  border-color: var(--highlight-error-emphasized);
}
.banner.is-error h1, .banner.is-error h2, .banner.is-error h3, .banner.is-error h4, .banner.is-error h5, .banner.is-error h6, .banner.is-error p {
  color: var(--highlight-error-emphasized);
}
.banner.is-notice {
  background-color: var(--highlight-notice-deemphasized);
  border-color: var(--highlight-notice-emphasized);
}
.banner.is-notice h1, .banner.is-notice h2, .banner.is-notice h3, .banner.is-notice h4, .banner.is-notice h5, .banner.is-notice h6, .banner.is-notice p {
  color: var(--highlight-notice-emphasized);
}
.banner.is-info {
  background-color: var(--highlight-info-deemphasized);
  border-color: var(--highlight-info-emphasized);
}
.banner.is-info h1, .banner.is-info h2, .banner.is-info h3, .banner.is-info h4, .banner.is-info h5, .banner.is-info h6, .banner.is-info p {
  color: var(--highlight-info-emphasized);
}

.ar-wrapper {
  position: relative;
  max-width: 100%;
  height: 0;
}

.ar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  min-width: 100%;
  min-height: 100%;
}
.ar.is-1x1 {
  padding-bottom: 100%;
}
.ar.is-4x3 {
  padding-bottom: calc(100% * (3 / 4));
}
.ar.is-4x3.is-vert {
  padding-bottom: calc(100% * (4 / 3));
}
.ar.is-6x4 {
  padding-bottom: calc(100% * (6 / 4));
}
.ar.is-6x4.is-vert {
  padding-bottom: calc(100% * (4 / 6));
}
.ar.is-7x5 {
  padding-bottom: calc(100% * (7 / 5));
}
.ar.is-7x5.is-vert {
  padding-bottom: calc(100% * (5 / 7));
}
.ar.is-8x5, .ar.is-16x10 {
  padding-bottom: calc(100% * (5 / 8));
}
.ar.is-8x5.is-vert, .ar.is-16x10.is-vert {
  padding-bottom: calc(100% * (8 / 5));
}
.ar.is-16x9 {
  padding-bottom: calc(100% * (9 / 16));
}
.ar.is-16x9.is-vert {
  padding-bottom: calc(100% * (16 / 9));
}

#readingindicator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  color: var(--brand-primary);
  background-color: var(--body-bg);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#readingindicator::-webkit-progress-bar {
  background-color: var(--body-bg);
}
#readingindicator::-webkit-progress-value {
  background-color: var(--brand-primary);
}
#readingindicator::-moz-progress-bar {
  background-color: var(--brand-primary);
}

.image.is-main {
  display: flex;
  height: 50vh;
  min-height: 8rem;
  max-height: 16rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--brand-primary);
}
.image.is-main img {
  -o-object-fit: cover;
     object-fit: cover;
}
.image.is-start {
  align-self: flex-start;
  justify-self: flex-start;
  float: left;
}
.image.is-end {
  align-self: flex-end;
  justify-self: flex-end;
  float: right;
}

.panel {
  border: 1px solid var(--text-color--emphasized);
  box-shadow: 0 0.5rem 0.5rem -0.5rem var(--overlay-bg);
}
.panel header {
  color: var(--text-color--emphasized);
  font-size: 0.75rem;
  background-color: var(--neutral-deemphasized);
}

.badge {
  margin: 0 1px;
  padding: 1px 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: var(--neutral-strong-emphasized);
  font-weight: 700;
  line-height: 1.25rem;
  background: var(--neutral-strong-deemphasized);
  background-color: var(--neutral-deemphasized-25);
  border: 1px solid var(--neutral-emphasized);
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0 0 var(--neutral-25), var(--negative-xsmall) 0 0 var(--neutral-25);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.badge.is-primary {
  color: var(--brand-primary-emphasized);
  background: var(--brand-primary-deemphasized);
  border-color: var(--brand-primary-emphasized);
}
.badge.is-seconday {
  color: var(--brand-seconday-emphasized);
  background: var(--brand-seconday-deemphasized);
  border-color: var(--brand-seconday-emphasized);
}
.badge.is-success {
  color: var(--highlight-success-deemphasized);
  background: var(--highlight-success-emphasized);
  border-color: var(--highlight-success-emphasized);
}
.badge.is-error {
  color: var(--highlight-error-deemphasized);
  background: var(--highlight-error-emphasized);
  border-color: var(--highlight-error-emphasized);
}
.badge.is-notice {
  color: var(--highlight-notice-deemphasized);
  background: var(--highlight-notice-emphasized);
  border-color: var(--highlight-notice-emphasized);
}
.badge.is-info {
  color: var(--highlight-info-deemphasized);
  background: var(--highlight-info-emphasized);
  border-color: var(--highlight-info-emphasized);
}

@media (min-width: 1024px) {
  .js-navigation-toggle {
    display: none;
  }
}
.js-navigation-toggle .text {
  display: none;
}
.js-navigation-toggle .icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
.js-navigation-toggle .icon > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.js-navigation-toggle .icon-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.js-navigation-toggle.is-closed .menu-closed {
  opacity: 1;
}
.js-navigation-toggle.is-closed .menu-opened {
  height: 0;
  opacity: 0;
}
.js-navigation-toggle.is-opened .menu-closed {
  height: 0;
  opacity: 0;
}
.js-navigation-toggle.is-opened .menu-opened {
  opacity: 1;
}
.js-navigation-toggle.is-opened .icon-line {
  position: relative;
  width: 1.5rem;
}
.js-navigation-toggle.is-opened .icon-line:first-child {
  top: 25%;
  transform: rotateZ(45deg);
}
.js-navigation-toggle.is-opened .icon-line:last-child {
  bottom: 25%;
  transform: rotateZ(-45deg);
}

.js .mainnavigation__menu {
  top: 4rem;
  justify-content: center;
}
@media (max-width: 1023px) {
  .js .mainnavigation__menu {
    opacity: 0;
  }
}

.js-colorscheme-toggle {
  z-index: 100;
}
.js-colorscheme-toggle svg {
  -o-object-fit: cover;
     object-fit: cover;
}
.js-colorscheme-toggle path {
  fill: currentColor;
}
.js-colorscheme-toggle > span {
  position: relative;
  display: none;
  width: 1rem;
}
.js-colorscheme-toggle .icon {
  position: relative;
  width: 100%;
}
.js-colorscheme-toggle .text {
  position: absolute;
  top: 2.25rem;
  right: -0.25rem;
  display: none;
  padding: 0.25rem;
  color: var(--text-color);
  line-height: 1.5rem;
  background: var(--card-bg);
  border: 1px solid;
  border-radius: 0.25rem;
}
.js-colorscheme-toggle .text::after {
  position: absolute;
  top: -0.25rem;
  right: 0.625rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--card-bg);
  border-top: 1px solid;
  border-left: 1px solid;
  transform: rotateZ(45deg);
  content: "";
}
.js-colorscheme-toggle:hover .text {
  display: block;
}

.color-scheme--dark .js-colorscheme-toggle > .dark,
.color-scheme--light .js-colorscheme-toggle > .light,
.color-scheme--system .js-colorscheme-toggle > .system {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

:root.color-scheme--dark #js-colorscheme-toggle .system {
  display: none;
}
:root.color-scheme--dark #js-colorscheme-toggle .light {
  display: none;
}
:root.color-scheme--light #js-colorscheme-toggle .dark {
  display: none;
}
:root.color-scheme--light #js-colorscheme-toggle .system {
  display: none;
}
:root.color-scheme--system #js-colorscheme-toggle .dark {
  display: none;
}
:root.color-scheme--system #js-colorscheme-toggle .light {
  display: none;
}

.header.is-hero {
  position: absolute;
  top: -4rem;
  transform: translateY(4rem);
  transition: top 250ms ease-in-out 0ms, background-color 250ms ease-in-out 0ms, box-shadow 250ms ease-in-out 0ms;
}
.header.is-hero:not(.visible-navigation) {
  background-color: var(--neutral-strong-deemphasized);
}
.header.is-hero:not(.visible-navigation) .mainnavigation__menu {
  background-color: var(--neutral-strong-deemphasized);
}
.header.hero-fade {
  top: 0;
  transition: top 250ms ease-in-out 0ms, background-color 250ms ease-in-out 0ms, box-shadow 250ms ease-in-out 0ms;
}

.text-gradient {
  color: transparent;
  background-image: linear-gradient(to right, var(--brand-primary-emphasized), var(--brand-primary), var(--brand-primary-deemphasized), var(--brand-secondary-deemphasized), var(--brand-secondary));
  -webkit-background-clip: text;
          background-clip: text;
}