.no-js {
    .js-navigation-toggle {
        display: none !important;
    }

    .js-colorscheme-toggle {
        display: none !important;
    }

    .js-image {
        display: none !important;
    }
}
