<div class="browserupgrade">
    <p>You are using an
        <strong>insanely outdated browser</strong>. Please
        <a href="http://browsehappy.com/">
            <strong>upgrade your browser as fast as possible</strong>
        </a>
        to improve your experience.</p>
</div>
