<footer id="footer" class="footer">

    <div class="footer__inner wrapper">
        <p>© 2020 refresh: A boilerplate &amp; framework</p>
        {% include 'components/tech-icons.njk' %}
        {% include 'components/social-icons.njk' %}
    </div>

</footer>
