<footer id="footer" class="footer">

    <div class="footer__inner">
        {% include 'components/tech-icons.njk' %}
        {% include 'components/social-icons.njk' %}
    </div>

</footer>

<script type="module" src="/js/index.js" async></script>
