<header id="header" data-sticky="true" class="header{% if body_class === 'is-home' %} is-hero{% endif %}">
    <div class="header__inner wrapper">
        {% include "components/logo.njk" %}
        {% include 'components/nav.njk' %}
    </div>
</header>
