<div class="logo">
    <a class="logo-link" href="/">
        <div class="logo-text">
            <div class="logo-title">{{site.title}}</div>
            {% if site.slogan %}
                <div class="logo-slogan"><code>{{site.slogan}}</code></div>
            {% endif %}
        </div>
        <svg class="logo-gfx"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <circle class="logo-outer" cx="256" cy="256" r="240" clip-rule="evenodd" stroke-width="32" />
            <g class="logo-inner" fill-rule="evenodd"  clip-rule="evenodd">
                <circle class="logo-circle" class="logo-inner--circle"cx="256" cy="256" r="192" />
                <path class="logo-icon" d="M350 176l-2-42a6 6 0 016-6h24c3 0 6 3 6 6v100c0 3-3 6-6 6H278c-3 0-6-3-6-6v-24 1c0-4 3-6 6-6l51 2a88 88 0 00-158 29c-1 2-4 4-6 4h-25l-2-1c-3-1-4-3-4-6a124 124 0 01216-57zM215 334a88 88 0 00127-57c0-3 2-5 5-5h25l4 2 2 2v3a124 124 0 01-216 57l2 42c0 3-3 6-6 6h-24c-3 0-6-3-6-6V278c0-3 3-6 6-6h100c3 0 6 3 6 6v24l-2 4-4 2-51-3c8 12 19 22 32 29z" />
            </g>
</svg>
    </a>
</div>
