<button id="navigation-toggle" class="btn is-primary navigation-toggle is-closed is-small" aria-hidden="true">
    <span class="text sr-only">Menu</span>
    <span class="icon">
        <span class="menu-closed">
            <span class="icon-line"></span>
            <span class="icon-line"></span>
            <span class="icon-line"></span>
        </span>
        <span class="menu-opened">
            <span class="icon-line"></span>
            <span class="icon-line"></span>
        </span>
    </span>
</button>
