<footer class="mainfooter content-wrapper">
    <nav class="social">
        <ul class="social-items">
            {% include './site-social.njk' %}
        </ul>
    </nav>

    <p class="copyright">
        <span class="copyright-name">{{site.title}}</span>
        <span class="copyright-divider">|</span>
        <span class="copyright-year">2020</span>
    </p>
</footer>
