$saturation-50: 40%;
$saturation-100: 50%;
$saturation-200: 55%;
$saturation-300: 60%;
$saturation-400: 65%;
$saturation-500: 70%;
$saturation-600: 75%;
$saturation-700: 80%;
$saturation-800: 85%;
$saturation-900: 90%;

$luminance-50: 95%;
$luminance-100: 95%;
$luminance-200: 95%;
$luminance-300: 95%;
$luminance-400: 95%;
$luminance-500: 95%;
$luminance-600: 95%;
$luminance-700: 95%;
$luminance-800: 95%;
$luminance-900: 95%;

$hue-red: 8;
$hue-orange: 32;
$hue-yellow: 56;
$hue-lime: 72;
$hue-green: 104;
$hue-teal: 168;
$hue-cyan: 184;
$hue-blue: 208;
$hue-indigo: 256;
$hue-purple: 280;
$hue-pink: 312;

$red-50: hsl($hue-red, $saturation-50, $luminance-50);
$red-100: hsl($hue-red, $saturation-100, $luminance-100);
$red-200: hsl($hue-red, $saturation-200, $luminance-200);
$red-300: hsl($hue-red, $saturation-300, $luminance-300);
$red-400: hsl($hue-red, $saturation-400, $luminance-400);
$red-500: hsl($hue-red, $saturation-500, $luminance-500);
$red-600: hsl($hue-red, $saturation-600, $luminance-600);
$red-700: hsl($hue-red, $saturation-700, $luminance-700);
$red-800: hsl($hue-red, $saturation-800, $luminance-800);
$red-900: hsl($hue-red, $saturation-900, $luminance-900);

$orange-50: hsl($hue-orange, $saturation-50, $luminance-50);
$orange-100: hsl($hue-orange, $saturation-100, $luminance-100);
$orange-200: hsl($hue-orange, $saturation-200, $luminance-200);
$orange-300: hsl($hue-orange, $saturation-300, $luminance-300);
$orange-400: hsl($hue-orange, $saturation-400, $luminance-400);
$orange-500: hsl($hue-orange, $saturation-500, $luminance-500);
$orange-600: hsl($hue-orange, $saturation-600, $luminance-600);
$orange-700: hsl($hue-orange, $saturation-700, $luminance-700);
$orange-800: hsl($hue-orange, $saturation-800, $luminance-800);
$orange-900: hsl($hue-orange, $saturation-900, $luminance-900);

$yellow-50: hsl($hue-yellow, $saturation-50, $luminance-50);
$yellow-100: hsl($hue-yellow, $saturation-100, $luminance-100);
$yellow-200: hsl($hue-yellow, $saturation-200, $luminance-200);
$yellow-300: hsl($hue-yellow, $saturation-300, $luminance-300);
$yellow-400: hsl($hue-yellow, $saturation-400, $luminance-400);
$yellow-500: hsl($hue-yellow, $saturation-500, $luminance-500);
$yellow-600: hsl($hue-yellow, $saturation-600, $luminance-600);
$yellow-700: hsl($hue-yellow, $saturation-700, $luminance-700);
$yellow-800: hsl($hue-yellow, $saturation-800, $luminance-800);
$yellow-900: hsl($hue-yellow, $saturation-900, $luminance-900);

$brand-primary: hsl(200, 80%, 25%);
$brand-primary-dark: saturate(darken($brand-primary, 15), 15);
$brand-primary-light: desaturate(lighten($brand-primary, 30), 30);

$brand-primary-mod: hsl(200, 80%, 35%);
$brand-primary-mod-dark: saturate(darken($brand-primary, 15), 15);
$brand-primary-mod-light: desaturate(lighten($brand-primary, 30), 30);

$brand-secondary: hsl(200, 10%, 25%);
$brand-secondary-dark: saturate(darken($brand-secondary, 15), 15);
$brand-secondary-light: desaturate(lighten($brand-secondary, 30), 30);

$brand-secondary-mod: hsl(200, 20%, 90%);
$brand-secondary-mod-dark: saturate(darken($brand-secondary, 15), 15);
$brand-secondary-mod-light: desaturate(lighten($brand-secondary, 30), 30);

$white: hsl(240, 5%, 100%);
$gray-extra-light: hsl(240, 5%, 95%);
$gray-lighter: hsl(240, 5%, 85%);
$gray-light: hsl(240, 5%, 80%);
$gray: hsl(240, 5%, 50%);
$gray-dark: hsl(240, 5%, 20%);
$gray-darker: hsl(240, 5%, 15%);
$gray-extra-dark: hsl(240, 5%, 5%);
$black: hsl(240, 5%, 0%);

$highlight-success: hsl(150, 60%, 50%);
$highlight-success-dark: saturate(darken($highlight-success, 15), 15);
$highlight-success-light: desaturate(lighten($highlight-success, 30), 30);

$highlight-error: hsl(0, 80%, 60%);
$highlight-error-dark: saturate(darken($highlight-error, 15), 15);
$highlight-error-light: desaturate(lighten($highlight-error, 30), 30);

$highlight-notice: hsl(55, 100%, 50%);
$highlight-notice-dark: saturate(darken($highlight-notice, 15), 15);
$highlight-notice-light: desaturate(lighten($highlight-notice, 30), 30);

$highlight-info: hsl(200, 70%, 60%);
$highlight-info-dark: saturate(darken($highlight-info, 15), 15);
$highlight-info-light: desaturate(lighten($highlight-info, 30), 30);

$highlight-success-mod: hsl(150, 60%, 30%);
$highlight-success-mod-dark: saturate(darken($highlight-success-mod, 15), 15);
$highlight-success-mod-light: desaturate(
    lighten($highlight-success-mod, 30),
    30
);

$highlight-error-mod: hsl(0, 80%, 20%);
$highlight-error-mod-dark: saturate(darken($highlight-error-mod, 15), 15);
$highlight-error-mod-light: desaturate(lighten($highlight-error-mod, 30), 30);

$highlight-notice-mod: hsl(55, 100%, 30%);
$highlight-notice-mod-dark: saturate(darken($highlight-notice-mod, 15), 15);
$highlight-notice-mod-light: desaturate(lighten($highlight-notice-mod, 30), 30);

$highlight-info-mod: hsl(200, 70%, 20%);
$highlight-info-mod-dark: saturate(darken($highlight-info-mod, 15), 15);
$highlight-info-mod-light: desaturate(lighten($highlight-info-mod, 30), 30);
