<section class="component">
    <header>
        <h2 id="component__buttons">Buttons</h2>
    </h2>

    <section class="component__child">
        <h3 id="component__buttons--regular">regular</h3>
        <p>Use the <code>button</code> element for Event driven buttons, links disguised as buttons are posible with the class <code>.btn</code></p>
        <button type="button" class="btn">neutral</button>
        <button type="button" class="btn is-primary">Primary</button>
        <button type="button" class="btn is-secondary">Secondary</button>
        <button type="button" class="btn is-success">Success</button>
        <button type="button" class="btn is-info">Info</button>
        <button type="button" class="btn is-notice">Notice (Warning)</button>
        <button type="button" class="btn is-error">Error (Danger)</button>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--disabled">disabled</h3>
        <p>use the <code>disabled</code> attribute or the class <code>is-disabled</code> to disable a button / as a button disguised link</p>
        <button disabled type="button" class="btn">neutral</button>
        <button disabled type="button" class="btn is-primary">Primary</button>
        <button disabled type="button" class="btn is-secondary">
            Secondary
        </button>
        <button disabled type="button" class="btn is-success">Success</button>
        <button disabled type="button" class="btn is-info">Info</button>
        <button disabled type="button" class="btn is-notice">
            Notice (Warning)
        </button>
        <button disabled type="button" class="btn is-error">
            Error (Danger)
        </button>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--outline">outline</h3>
        <p>use the class <code>is-outlined</code> to just outline an button</p>
        <button type="button" class="btn is-outlined">neutral</button>
        <button type="button" class="btn is-primary is-outlined">
            Primary
        </button>
        <button type="button" class="btn is-secondary is-outlined">
            Secondary
        </button>
        <button type="button" class="btn is-success is-outlined">
            Success
        </button>
        <button type="button" class="btn is-info is-outlined">
            Info
        </button>
        <button type="button" class="btn is-notice is-outlined">
            Notice (Warning)
        </button>
        <button type="button" class="btn is-error is-outlined">
            Error (Danger)
        </button>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--sizing">sizing</h3>
        <p>the button size can be edited with the classes <code>is-huge</code> for 1.5x <code>is-large</code> for 1.25x size, <code>is-small</code> for 0.75x and <code>is-tiny</code> for 0.5x size</p>
        <button type="button" class="btn btn-primary is-huge is-primary">
            Huge button
        </button>
        <button type="button" class="btn btn-primary is-large is-primary">
            Large button
        </button>
        <button type="button" class="btn btn-primary is-primary">Default button</button>
        <button type="button" class="btn btn-primary is-small is-primary">
            Small button
        </button>
        <button type="button" class="btn btn-primary is-tiny is-primary">
            Tiny button
        </button>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--group">button group (centered)</h3>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn is-primary">Left</button>
            <button type="button" class="btn is-primary">Middle</button>
            <button type="button" class="btn is-primary">Right</button>
        </div>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--group">button group</h3>
        <div class="btn-group is-start" role="group" aria-label="Basic example">
            <button type="button" class="btn is-primary">Left</button>
            <button type="button" class="btn is-primary">Middle</button>
            <button type="button" class="btn is-primary">Right</button>
        </div>
    </section>

    <section class="component__child">
        <h3 id="component__buttons--group">button group (start - same as default)</h3>
        <div class="btn-group is-centered" role="group" aria-label="Basic example">
            <button type="button" class="btn is-primary">Left</button>
            <button type="button" class="btn is-primary">Middle</button>
            <button type="button" class="btn is-primary">Right</button>
        </div>
    </section>


    <section class="component__child">
        <h3 id="component__buttons--group">button group (start - same as default)</h3>
        <div class="btn-group is-end" role="group" aria-label="Basic example">
            <button type="button" class="btn is-primary">Left</button>
            <button type="button" class="btn is-primary">Middle</button>
            <button type="button" class="btn is-primary">Right</button>
        </div>
    </section>

    <div class="component">
        <h3 id="component__buttons--joinedgroup">joined button group</h3>
        <div
            class="btn-group are-joined"
            role="group"
            aria-label="Basic example"
        >
            <button type="button" class="btn is-primary">Left</button>
            <button type="button" class="btn is-primary">Middle</button>
            <button type="button" class="btn is-primary">Right</button>
        </div>
    </div>
</section>
