.is-home {
    main.wrapper {
        margin-top: 3rem;
    }

    .page-title {
        span {
            display: block;

            &:first-child {
                font-style: italic;
            }
        }
    }

    .hero {
        .image {
            display: flex;
            grid-row: 2;
            align-items: flex-start;
            justify-content: flex-end;

            overflow: hidden;

            border-radius: $xsmall;
            box-shadow: 0 0 $tiny var(--brand-primary);

            @media (min-width: $MediaSmallWidth) {
                max-width: 50%;
                margin-right: auto;
            }

            @media (min-width: $MediaMediumWidth) {
                grid-row: initial;
                max-width: initial;
                margin-right: initial;
            }

            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;

                mix-blend-mode: luminosity;
            }
        }
    }
}
