.is-home {
    background: linear-gradient(
        127deg,
        var(--brand-primary-deemphasized-25) 0%,
        var(--brand-primary-50) 60%,
        var(--brand-primary-emphasized-75) 100%
    );

    main.wrapper {
        display: flex;
    }

    .page-title {
        font-size: 2.5rem;

        span {
            display: block;

            &:first-child {
                font-style: italic;
            }

            &:not(:first-child) {
                font-size: 70%;
            }
        }
    }

    .hero {
        align-self: center;

        .image {
            display: flex;
            grid-row: 2;
            align-content: center;
            justify-content: center;
            width: 100%;
            max-height: 15rem;

            overflow: hidden;

            border-radius: $xsmall;
            box-shadow: 0 0 $xsmall 0 var(--neutral-strong-emphasized-50),
                0 0 0 $tiny var(--brand-primary);

            @media (min-width: $MediaMediumWidth) {
                grid-row: initial;
                justify-content: flex-end;
                max-width: initial;
                max-height: 25rem;
                margin-right: initial;
            }

            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;

                filter: grayscale(1);
            }
        }
    }
}
