.js-colorscheme-toggle {
    z-index: 100;

    & svg {
        object-fit: cover;
    }

    & path {
        fill: currentColor;
    }

    & > span {
        position: relative;

        display: none;
        width: 1rem;
    }

    .icon {
        position: relative;

        width: 100%;
    }

    .text {
        position: absolute;
        top: 2.25rem;
        right: -0.25rem;

        display: none;
        padding: 0.25rem;

        color: var(--text-color);

        line-height: 1.5rem;

        background: var(--card-bg);
        border: $tiny solid;
        border-radius: 0.25rem;

        &::after {
            position: absolute;
            top: -0.25rem;
            right: 0.625rem;

            display: block;
            width: 0.5rem;
            height: 0.5rem;

            background-color: var(--card-bg);
            border-top: $tiny solid;
            border-left: $tiny solid;
            transform: rotateZ(45deg);

            content: "";
        }
    }

    &:hover {
        .text {
            display: block;
        }
    }
}

.color-scheme--dark .js-colorscheme-toggle > .dark,
.color-scheme--light .js-colorscheme-toggle > .light,
.color-scheme--system .js-colorscheme-toggle > .system {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $large;
    height: $large;
}

:root {
    &.color-scheme--dark {
        #js-colorscheme-toggle .system {
            display: none;
        }

        #js-colorscheme-toggle .light {
            display: none;
        }
    }

    &.color-scheme--light {
        #js-colorscheme-toggle .dark {
            display: none;
        }

        #js-colorscheme-toggle .system {
            display: none;
        }
    }

    &.color-scheme--system {
        #js-colorscheme-toggle .dark {
            display: none;
        }

        #js-colorscheme-toggle .light {
            display: none;
        }
    }
}
