ul {
    padding-left: $normal;

    list-style-type: disc;
}

ol {
    padding-left: $xlarge;

    list-style-type: decimal-leading-zero;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin: 0 0 $xsmall 0;
}

ol:not([class]),
ul:not([class]),
dl:not([class]) {
    margin: 0 0 $normal 0;

    list-style-position: outside;

    & li:not([class]) {
        padding-left: $normal;
    }
}

ul[class],
ol[class] {
    list-style: none;
}

dt {
    margin: 0;

    font-weight: $font-bold-weight;
}

dd {
    margin: 0 0 $xsmall 0;
}
