ul {
    padding-left: $normal;

    list-style-type: disc;
}

ol {
    padding-left: $xlarge;

    list-style-type: decimal-leading-zero;
}

ol,
ul,
dl {
    ol,
    ul {
        margin: 0 0 $xsmall 0;
    }

    &:not([class]) {
        margin: 0 0 $normal 0;

        list-style-position: outside;

        li {
            &:not([class]) {
                padding-left: $normal;
            }

            &[class] {
                padding-left: 0;
            }
        }
    }

    &[class] {
        padding-left: 0;

        list-style: none;
    }
}

dt {
    margin: 0;

    font-weight: $font-bold-weight;
}

dd {
    margin: 0 0 $xsmall 0;
}
