.footer {
    display: flex;
    min-height: $large;

    background-color: var(--neutral-extreme-deemphasized-75);
    box-shadow: 0 $large $large $large var(--brand-primary-25);
}

.footer__inner {
    display: flex;
    align-self: center;
    height: 100%;
    margin: auto;
    padding: $xsmall $xxlarge;

    p {
        margin: 0;
    }
}
