.footer {
    display: flex;
    min-height: $xhuge;

    background-color: var(--neutral-extreme-deemphasized-75);
    border-top: var(--neutral) $tiny solid;
}

.footer__inner {
    display: flex;
    align-self: center;
    height: 100%;
    margin: auto;
    padding: $xsmall $xxlarge;

    p {
        margin: 0;
    }
}
