.logo {
    margin-left: $negative-xsmall;
}

.logo-link {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding: $xsmall 0;

    .logo-text {
        display: flex;
        align-items: center;
    }

    .logo-gfx {
        width: $xxlarge;
        height: 100%;
        margin-right: $xxsmall;

        fill: currentColor;
    }

    .logo-outer {
        transition: stroke $duration $timing;

        stroke: var(--body-bg);
        stroke-width: 32px;
    }

    .logo-circle {
        transition: fill $duration $timing;

        fill: var(--body-bg);
    }

    .logo-icon {
        transform-origin: center;

        transition: transform 0.5s ease-in-out;

        fill: currentColor;
    }

    .logo-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-right: $normal;

        color: var(--brand-primary);
        font-weight: $font-bold-weight;
        font-family: $font-stack-head;
        text-transform: uppercase;

        border-radius: 0 $xsmall $xsmall 0;
    }

    &:hover {
        text-decoration: none;

        .logo-icon {
            transform: rotate(480deg);
        }

        .logo-title {
            color: var(--brand-primary-emphasized);
        }
    }
}
