.logo {
    margin-left: $negative-xsmall;
}

.logo-link {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding: $xsmall;

    &:hover {
        text-decoration: none;

        .logo-gfx {
            background-color: var(--brand-primary-emphasized);
        }

        .logo-icon {
            transform: rotate(480deg);

            fill: var(--brand-primary-emphasized);
        }

        .logo-title {
            color: var(--neutral-extreme-deemphasized);

            background-color: var(--brand-primary-emphasized);
        }

        .logo-slogan {
            color: var(--neutral-extreme-emphasized);
        }

        .logo-outer {
            stroke: var(--neutral-extreme-deemphasized);
        }

        .logo-circle {
            fill: var(--neutral-extreme-deemphasized);
        }
    }
}

.logo-text {
    display: flex;
    align-items: center;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: $xxsmall;
    padding: $xxsmall $xsmall;

    color: var(--body-bg);
    font-weight: $font-bold-weight;
    font-family: $font-stack-head;
    font-style: italic;

    background-color: var(--brand-primary);
    border-radius: 0 $xsmall $xsmall 0;
}

.logo-slogan {
}

.logo-gfx {
    width: $huge;
    height: 100%;
    margin-right: $tiny;
    padding: $xxsmall;

    background-color: var(--brand-primary);
    border-radius: $xsmall 0 0 $xsmall;

    fill: none;
}

.logo-outer {
    stroke: var(--body-bg);
    stroke-width: 32px;
}

.logo-icon {
    transform-origin: center;

    transition: transform 0.5s ease-in-out;

    fill: var(--brand-primary);
}

.logo-circle {
    fill: var(--body-bg);
}
