.navigation {
}

.navigation__item {
}

.navigation__link {
}

.mainnavigation {
    display: flex;
    align-items: center;
    min-height: $huge;
    margin-right: $negative-xsmall;

    .mainnavigation__menu {
        position: fixed;
        top: $negative-huge;
        left: 0;

        display: flex;

        align-items: center;
        justify-content: flex-start;

        width: 100%;
        min-height: $xxlarge;
        margin: 0;
        padding: $small;

        background-color: var(--neutral-strong-deemphasized);
        box-shadow: 0 $large $large $negative-large var(--brand-primary-25);

        opacity: 1;

        transition: opacity $timing $duration, top $timing $duration,
            background-color $timing $duration;

        @media (min-width: $MediaMediumWidth) {
            padding: $small $xlarge;
        }

        @media (min-width: $MediaLargeWidth) {
            position: static;

            display: flex;
            height: 100%;

            box-shadow: none;

            opacity: 1;
        }
    }

    @media (max-width: $MediaLargeWidth - $tiny) {
        &.is-visible {
            .mainnavigation__menu {
                top: $huge;

                opacity: 1;
            }
        }
    }
}

.mainnavigation__item {
    + .mainnavigation__item {
        margin-left: $xsmall;
    }
}

.mainnavigation__link {
}

.subnavigation {
}

.subnavigation__menu {
}

.subnavigation__item {
}

.subnavigation__link {
}

.technavigation {
    margin-left: auto;
}

.technavigation,
.socialnavigation {
}

.technavigation__menu,
.socialnavigation__menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.technavigation__item,
.socialnavigation__item {
    margin: 0 $xxsmall 0 0;
    padding: 0;

    &:first-child {
        margin-left: 0;
    }
}

.technavigation__link {
    border: 1px solid var(--brand-secondary-deemphasized-50);

    &:hover {
        background-color: var(--brand-secondary-deemphasized);
        border-color: var(--brand-secondary-emphasized);
    }
}

.socialnavigation__link {
    background-color: var(--brand-primary);

    &:hover {
        background-color: var(--brand-primary-emphasized);
    }
}

.technavigation__link,
.socialnavigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $xxlarge;
    height: $xxlarge;
    padding: $xxsmall;

    text-align: center;

    border-radius: 100%;

    &:hover {
        .icon {
            fill: var(--neutral-extreme-deemphasized);
        }
    }
}

.technavigation__icon {
    fill: var(--brand-secondary-emphasized);
}

.socialnavigation__icon {
    fill: var(--neutral-strong-deemphasized);
}
