---
layout: default
meta_title: Home
meta_description: refresh11 is a beautiful, powerful skeleton boilerplate built with Eleventy
body_class: is-home
has_hero: true
title: Welcome to refresh11!
eleventyNavigation:
    key: refresh
    title: ReFresh
    order: 0
---

<section aria-label="Summary" class="hero grid">
    <div class="banner is-info col-12">
        <p>
            <span class="badge is-info">New</span>
            <code>Version 0.1.0</code> was just released</p>
    </div>
    <div class="content col-12 col-6-medium col-8-extralarge">
        <header>
            <h1 class="page-title">
                <span>refresh</span>
                <span>A Eleventy Template</span>
                <span>A SASS / CSS-framework.</span>
                <span>Build for speed.</span>
            </h1>
        </header>
        <p>Refresh is a responsive front-end framework, designed for the rapid building of beautiful pages and interfaces. It has an Built-in dark mode, optional JavaScript library (without jQuery!) and Bootstrap like classes refined with BEM.</p>
        <!--
        <h2>Features</h2>

        <ul>
            <li>Build sites faster with the power of Eleventy and SCSS</li>
            <li><a href="https://laravel-mix.com/docs/5.0/basic-example">Laravel Mix</a> (webpack) to watch, concatenate and compile styles and scripts</li>
            <li><a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
            <li>HTML minifier</li>
            <li>ES6 support with Babel</li>
            <li>SEO friendly pages (including Open Graph and Twitter meta)</li>
            <li>Image lazyloading</li>
            <li>A simple blog with categories and featured images</li>
        </ul>
        -->

        <p>
            <strong>Want to jump in or learn more?</strong>
        </p>
        <div class="btn-group">
            <a href="" class="btn is-primary">Download</a>
            <a href="" class="btn is-secondary is-outlined">Docs</a>
        </div>
    </div>
    <div class="image col-12 col-6-medium col-4-extralarge" aria-hidden="true">
        <img src="images/home/refreshing-water.jpg" alt="hand visualisation">
    </div>
</section>

<section aria-label="Quick Installation" class="grid">
    <header class="col-12">
        <h2>Installation</h2>
    </header>
    <div class="col-12 col-6-medium">
        <p class="intro">Install the source Sass and JavaScript files via Git or Download them directly.</p>
        <p>After download, extract the files and take a look inside</p>
        <p>
            <a href="docs" class="btn is-primary is-outlined">Read installation docs</a>
        </p>
    </div>
    <div class="col-12 col-6-medium">
        <code>git clone url</code>
    </div>
</section>
