---
layout: default
meta_title: Home
meta_description: refresh11 is a beautiful, powerful skeleton boilerplate built with Eleventy
body_class: is-home
has_hero: true
title: Welcome to refresh11!
eleventyNavigation:
    key: refresh
    title: ReFresh
    order: 0
---

<section aria-label="Summary" class="hero grid">
    <div class="content col-12 col-6-medium col-8-extralarge">
        <header>
            <h1 class="page-title">
                <span>REFRESH</span>
                <span>A Eleventy Template.</span>
                <span>A SASS / CSS-framework.</span>
                <span>Build for speed.</span>
            </h1>
        </header>
        <p>Refresh is a responsive front-end framework, designed for the rapid building of beautiful pages and interfaces. It has an Built-in dark mode, a minimal JavaScript library (without jQuery or other frameworks) and Bootstrap like classes refined with BEM.</p>

        <div class="btn-group">
            <a href="" class="btn is-primary">Download</a>
            <a href="" class="btn is-secondary is-outlined">Docs</a>
        </div>
    </div>
    <div class="image col-12 col-6-medium col-4-extralarge" aria-hidden="true">
        <img src="images/home/refreshing-water.jpg" alt="visualisation of refreshing water">
    </div>
</section>
</section>
